.card-list {
    display: flex;
    justify-content: space-between;
}

.list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 6.4rem;
}

.products-list {
    display: flex;
}