.modal {
    background-color: #0000009f;
    box-shadow: 0px 0px 4rem 4rem #000000;
    height: 180%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 4;
    z-index: 9000;
}

.n-produto {
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    height: 90vh;
    left: 30vw;
    position: fixed;
    top: 5vh;
    width: 40vw;
}

.produtos-botoes{
    display: flex;
    gap: 2.4rem;
    margin-left: auto;
}

.n-produto form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.modal-colunas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width:50%;
}

.title-box{
    margin-bottom: 2rem;
}