.pricebtn {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
  }
  
  .pricebtn.movie {
    background: #A785ED;
    color: #EEE5FF;
    font-size: 12px;
    padding: 5px 8px;
  }
  
  .pricebtn.basket {
    background: #E25EBF;
    color: #FDFDFD;
    font-size: 16px;
    padding: 16px;
  }
  
  .pricebtn.movie:hover {
    background: linear-gradient(0deg, rgba(46, 46, 46, 0.45), rgba(46, 46, 46, 0.45)), #A785ED;
  }
  
  .pricebtn.movie:active {
    background: linear-gradient(0deg, rgba(123, 123, 123, 0.45), rgba(123, 123, 123, 0.45)), #A785ED;
  }
  
  .pricebtn.basket:hover {
    background: linear-gradient(0deg, rgba(225, 123, 123, 0.45), rgba(225, 123, 123, 0.45)), #FFB6EB;
    box-shadow: 0px 16px 24px -12px rgba(226, 94, 191, 0.16);
  }
  
  .pricebtn.basket:active {
    background: linear-gradient(0deg, rgba(225, 123, 123, 0.6), rgba(225, 123, 123, 0.6)), #FFB6EB;
    box-shadow: 0px 16px 24px -12px rgba(226, 94, 191, 0.5);
  }